global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  30m
    timeout server  30m

# Stats Dashboard (Optional - visit localhost:8404/stats)
frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s

frontend postgres_read_front
    bind *:5432
    default_backend postgres_read_back

backend postgres_read_back
    balance roundrobin
    server slave_node_1 postgresql-slave:5432 check inter 2s rise 2 fall 3
    server slave_node_2 postgresql-slave2:5432 check inter 2s rise 2 fall 3
    server slave_node_3 postgresql-slave3:5432 check inter 2s rise 2 fall 3
    server slave_node_4 postgresql-slave4:5432 check inter 2s rise 2 fall 3
